<section class="geo-object" id="geo-object">
    <header>
        <h2 class="geo-object__address">{{address}}</h2>
        <button class="geo-object__close">Закрыть</button>
    </header>

    <div class="geo-object__reviews-wrapper">
        {{#if reviews}}
            {{> "./reviews.hbs"}}
        {{else}}
            Отзывов пока нет...
        {{/if}}
    </div>

    <hr>

    <form action="" class="geo-object__form form" id="form">
        <input type="text" class="form__field field field_name">
        <input type="text" class="form__field field field_location">
        <textarea name="" id="" cols="30" rows="10" class="form__field field field_text"></textarea>
        <button type="submit" class="form__btn btn"></button>
    </form>


</section>
