<blockquote class="review" id="review">
    <cite class="review__author">{{author}}</cite>
    <cite class="review__author">{{date}}</cite>
    <span class="review__location">{{place}}</span>
    <p class="review__text">{{text}}</p>
</blockquote>